<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">Patient Document</div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="patientDocumentForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Document Name</mat-label>
            <input matInput formControlName="documentName" required />
            <mat-error
              *ngIf="
                patientDocumentForm.get('documentName')?.hasError('required')
              "
            >
              Document Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Document Type</mat-label>
            <mat-select formControlName="documentTypeId" required>
              <mat-option [value]="1"> CLINICAL LETTER </mat-option>
              <mat-option [value]="2"> DISCHARGE LETTER </mat-option>
              <mat-option [value]="3"> REFERRAL LETTER </mat-option>
              <mat-option [value]="4"> CLINICAL NOTE </mat-option>
              <mat-option [value]="5"> TEST RESULT </mat-option>
              <mat-option [value]="6"> GENERAL LETTER </mat-option>
              <mat-option [value]="7"> DIAGNOSTIC REQUEST FORM </mat-option>
              <mat-option [value]="8"> CONSENT LETTER </mat-option>
              <mat-option [value]="9"> DISCHARGED SUMMARY LETTER </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientDocumentForm.get('documentTypeId')?.hasError('required')
              "
            >
              Document Type is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Physical Location</mat-label>
            <input matInput formControlName="physicalLocation" required />
            <mat-error
              *ngIf="
                patientDocumentForm
                  .get('physicalLocation')
                  ?.hasError('required')
              "
            >
              Physical Location is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Clinic Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="clinicDate"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="
                patientDocumentForm.get('clinicDate')?.hasError('required')
              "
            >
              Please select Clinic Date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Speciality</mat-label>
            <mat-select formControlName="specialityId" required>
              <mat-option
                *ngFor="let speciality of specialityList"
                [value]="speciality.value"
              >
                {{ speciality.label }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientDocumentForm.get('specialityId')?.hasError('required')
              "
            >
              Speciality is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <label>Upload</label>
          <app-file-upload formControlName="uploadFile"></app-file-upload>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              class="btn-space"
              [class.auth-spinner]="loading"
              [disabled]="loading"
              [disabled]="!patientDocumentForm.valid"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>

            <button
              mat-raised-button
              color="warn"
              (click)="onNoClick()"
              tabindex="-1"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
