<div class="row clearfix">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <h2><strong> Documents</strong></h2>
      </div>
      <div class="body">
        <div class="responsive_table">
          <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
            <!-- ID Column -->
            <ng-container matColumnDef="patientDocumentId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PatientDocumentId</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.patientDocumentId}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="documentName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Document Name</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.documentName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="consultantName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Document Type</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{getDocumentType(row.documentTypeId)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="clinicDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Clinic Date</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.clinicDate  | date: 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="speciality">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Speciality</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.speciality}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dateUploaded">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date Uploaded</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.dateUploaded | date: 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="viewDocument(row)"
              [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </mat-table>
          <!-- Loading spinner -->
          <div *ngIf="isTblLoading" class="tbl-spinner">
            <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div *ngIf="!isTblLoading" class="no-results"
            [style.display]="dataSource.data.length === 0 ? '' : 'none'">
            No results
          </div>
          <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
