<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb *ngIf="isAddMode" [title]="'Add WaitingType'" [items]="['Waiting Type']" [active_item]="'Waiting Type'"></app-breadcrumb>
      <app-breadcrumb *ngIf="!isAddMode" [title]="'Edit WaitingType'" [items]="['Waiting Type']" [active_item]="'Edit Waiting Type'"></app-breadcrumb>

    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2 *ngIf="isAddMode"><strong> Add New WaitingType</strong></h2>
            <h2 *ngIf="!isAddMode"><strong> Edit WaitingType</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="waitingTypeForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code" required>
                    <mat-error *ngIf="waitingTypeForm.get('code')?.hasError('required')">
                      Code is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="waitingTypeForm.get('name')?.hasError('required')">
                      Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!waitingTypeForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" (click)="cancelForm()" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
