<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Edit user'" [items]="['Edit Users']" [active_item]="'Edit User'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Edit User</strong></h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="editUserForm.get('firstName')?.hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="editUserForm.get('lastName')?.hasError('required')">
                      Last name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="editUserForm.get('email')?.hasError('email') && editUserForm.get('email')?.touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Select Country</mat-label>
                    <mat-select formControlName="country" required>
                      <mat-option  *ngFor="let country of countryList" [value]="country.label">
                        {{country.label}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="editUserForm.get('country')?.hasError('required')">
                      Country is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phoneNumber" required>
                    <mat-error *ngIf="editUserForm.get('phoneNumber')?.hasError('required')">
                      Phone Number is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="userRoleId" required>
                      <mat-option  *ngFor="let userRole of userRoleList" [value]="userRole.value">
                        {{userRole.label}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="editUserForm.get('userRoleId')?.hasError('required')">
                      Select User Role
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Security Question</mat-label>
                    <input matInput formControlName="securityQuestion" required>
                    <mat-error *ngIf="editUserForm.get('securityQuestion')?.hasError('required')">
                      Security Question is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Security Answer</mat-label>
                    <input matInput formControlName="securityAnswer">
                    <mat-error *ngIf="editUserForm.get('securityAnswer')?.hasError('required')">
                      Security Answer is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>End Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="lastLogin"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading" [disabled]="!editUserForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" (click)="cancelForm()" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
