<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Dashboad'"
        [items]="[]"
        [active_item]="'Dashboad'"
      ></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <h2>RTT TERMILOLOGY AND NATIONAL CODES MEANINGS</h2>
        <p>RTT – Referral to Treatment</p>
        <p>
          PTL – Patient Tracking List – a list of patients who need to be
          treated by given dates
        </p>
        <p>Nullify – To cause something to have no value or effect</p>
        <p>DNA – Did Not Attend (e.g. OP appointment)</p>
        <p>Patient Cancellation – Activity cancelled by the patient</p>
        <p>Hospital Cancellation – Activity cancelled by the Hospital</p>
        <p>
          IPTMDS – Inter Provider Administrative Data Transfer Minimum Data Set
        </p>
        <p>
          Ad-hoc - Administrative events that happen outside hospital setting
        </p>
        <p>
          PBL- PARTIAL BOOKING LIST - LIST OF PATIENT WAITING FOR FIRST
          APPOINTMENT (OPA)
        </p>
        <p>OPA/OPD OUTPATIENT APPOINTMENT</p>
        <p>
          WL- WAITING LIST (FOR PATIENT WHO ARE ADDED TO LIST TO HAVE DIAGNOSTIC
          TEST OR TREATMENT
        </p>
        <p>TCI DATE- TO COME IN DATE ( DATE FOR SURGERY OR DIAGNOSTIC)</p>
        <p>WL ACTIVE- WAITING LIST THAT IS ACTIVE</p>
        <p>PL- PLANNED WAITING LIST</p>
        <p>OP REG DATE- OUTPATIENT REGISTRATION DATE</p>
        <p>OP DISCHARGED DATE - OUT PATIENT DISCHARGED DATE</p>
        <p>N- NEW APPOINTMENT</p>
        <p>F- FOLLOW UP APPOINTMENT</p>
        <p>
          PATHWAY NUMBER: UNIQUE NUMBER TO IDENTIFY EACH PATHWAY OR FOLDERS OPEN
          FOR THE PATIENT
        </p>
        <p>REFERRAL TO TREATMENT PERIOD START DATE- CLOCK START DATE</p>
        <p>REFERRAL TO TREATMENT PERIOD END DATE- CLOCK END/STOP DATE</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <h2>RTT NATIONAL STATUS CODES AND THEIR MEANINGS</h2>
        <p>10 - The FIRST ACTIVITY in a pathway</p>
        <p>
          11 - The FIRST ACTIVITY AFTER ACTIVE MONITORING END/ OR WATCHFUL WAIT
          ENDS
        </p>
        <p>
          12 - FIRST ACTIVITY following a CONSULTANT or AHP REFERRAL FOR A NEW
          CONDITION
        </p>
        <p>20 - SUBSEQUENT ACTIVITY in an RTT period</p>
        <p>21 - Transfer to ANOTHER HEALTH CARE PROVIDER</p>
        <h4>The Code below Stops a clock or RTT period</h4>
        <p>30 - Start of FIRST DEFINITIVE TREATMENT</p>
        <p>31 - Start of ACTIVE MONITORING initiated by the PATIENT</p>
        <p>32 - Start of ACTIVE MONITORING initiated by the HOSPITAL</p>
        <p>33 - DNA – PATIENT Did Not Attend the FIRST CARE ACTIVITY</p>
        <p>34 - Decision NOT TO TREAT or NO FURTHER contact required</p>
        <p>35 - PATIENT declined offered treatment</p>
        <p>36 - PATIENT died before treatment</p>
        <p>90 - First Definitive Treatment OCCURRED PREVIOUSLY</p>
        <p>91 - Care activity DURING Active Monitoring</p>
        <h4>Non RTT activity</h4>
        <p>92 - DIAGNOSTICS ONLY (not yet referred for treatment)</p>
        <p>98 - Activity NOT APPLICABLE to RTT PERIODS</p>
      </div>
    </div>
  </div>
</section>
