<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">Patient Validation Details</div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="patientValidationDetailsForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="
                patientValidationDetailsForm.get('date')?.hasError('required')
              "
            >
              Please select Start Date
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error
              *ngIf="
                patientValidationDetailsForm
                  .get('endDate')
                  ?.hasError('required')
              "
            >
              Please select End Date
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Specialty</mat-label>
            <mat-select formControlName="specialityId" required>
              <mat-option
                *ngFor="let speciality of specialityList"
                [value]="speciality.value"
              >
                {{ speciality.label }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientValidationDetailsForm
                  .get('specialityId')
                  ?.hasError('required')
              "
            >
              Speciality is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Activity</mat-label>
            <mat-select formControlName="activity">
              <mat-option
                *ngFor="let activity of activitiesList"
                [value]="activity.label"
              >
                {{ activity.label }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientValidationDetailsForm
                  .get('activity')
                  ?.hasError('required')
              "
            >
            Activity is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>PathWay Status</mat-label>
            <mat-select formControlName="pathWayStatusId" required>
              <mat-option
                *ngFor="let status of pathwayStatusList"
                [value]="status.value"
              >
                {{ status.label }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientValidationDetailsForm
                  .get('pathWayStatusId')
                  ?.hasError('required')
              "
            >
            PathWay Status is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Consultant</mat-label>
            <mat-select formControlName="consultantId" required>
              <mat-option
                *ngFor="let consultant of consultantList"
                [value]="consultant.value"
              >
                {{ consultant.label }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                patientValidationDetailsForm
                  .get('consultantId')
                  ?.hasError('required')
              "
            >
            Consultant is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              class="btn-space"
              [class.auth-spinner]="loading"
              [disabled]="loading"
              [disabled]="!patientValidationDetailsForm.valid"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>

            <button
              mat-raised-button
              color="warn"
              (click)="onNoClick()"
              tabindex="-1"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
